@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2c2b2b;
  color: white;
}

.generalbox {
  background-image: url(imagens/hero.jpg);
  background-size: cover;
  max-height: 215px;
  height: 100%;
}

.logo {
  width: 35px;
}

.nav-bar_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

li {
  display: inline-block;
  margin: 5px;
  font-size: 10px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
  gap: 5px;
}

a:hover {
  transition: 0.5s;
  color: #c8cd47;
}

.paragraph-h1 {
  font-size: 40px;
  color: #c8cd47;
  margin-left: 8px;
}

.paragraph-h2 {
  font-weight: 400;
  font-size: 12px;
  margin-top: 15px;
  margin-left: 20px;
  font-family: "Bebas Neue", cursive;
}

.paragraph-h3 {
  font-size: 15px;
  margin-left: 20px;
}

.paragraph-h4 {
  font-size: 10px;
  color: #c8cd47;
  margin-left: 23px;
}

.paragraph-p {
  font-weight: 400;
  font-size: 8px;
  width: 93px;
  margin-left: 20px;
  font-family: "Bebas Neue", cursive;
}

.button-hero {
  font-size: 16px;
  width: 100px;
  height: 22px;
  border-radius: 15px;
  background-color: #c8cd47;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 10px;
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
}

.curiosity {
  margin: 20px;
}

.img_curiosity{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.text_curiosity{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.curiosity1 {
  width: 120px;
  height: 84px;
}

.curiosity2 {
  width: 120px;
  height: 84px;
}

.curiosity h1 {
  color: #c8cd47;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 30px;
}

.paragrapy_curiosity {
  text-align: center;
}

.button_curiosity {
  background-color: #c8cd47;
  width: 145px;
  height: 35px;
  border-radius: 15px;
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
  margin-top: 20px;
  cursor: pointer;
}

.season{
  margin: 10px;
}

.h1_season{
  text-align: center;
  color: #c8cd47;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}

.h2_season{
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
}

.paragrapy_season{
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.season_impar{
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.season_par{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-left: 20px;
}

.img_season{
  width: 84px;
  height: 126px;
}

.text_season{
  display: flex;
  flex-direction: column;
}

.h1_elenco{
  color: #c8cd47;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.elenco_imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}

.img_elenco{
  width: 131px;
  height: 172px;
  margin-bottom: 40px;
}

@media (min-width: 748px) {
  .generalbox {
    max-height: 419.06px;
  }

  .logo {
    width: 57px;
  }

  .nav-bar_container {
    gap: 40px;
  }

  li {
    font-size: 15px;
  }

  .paragraph-h1 {
    font-size: 64px;
    margin-left: 13px;
  }

  .paragraph-h2 {
    font-size: 15px;
    margin-left: 50px;
  }

  .paragraph-h3 {
    font-size: 18px;
    margin-left: 55px;
  }

  .paragraph-h4 {
    font-size: 15px;
    margin-left: 55px;
    margin-bottom: 10px;
  }

  .paragraph-p {
    font-size: 15px;
    width: 178px;
    margin-bottom: 15px;
    margin-left: 25px;
  }

  .button-hero {
    width: 122px;
    height: 36px;
    font-size: 20px;
    margin-left: 30px;
  }

  .curiosity {
    margin: 30px;
  }
  
  .img_curiosity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .text_curiosity{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .curiosity1 {
    width: 250px;
    height: 184px;
  }
  
  .curiosity2 {
    width: 250px;
    height: 184px;
  }
  
  .curiosity h1 {
    font-size: 45px;
  }
  
  .paragrapy_curiosity {
    text-align: center;
    font-size: 25px;
  }
  
  .button_curiosity {
    width: 230px;
    height: 55px;
    font-size: 32px;
  }
  .season{
    margin: 10px;
    margin-top: 35px;
    margin-left: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .h1_season{
    font-size: 45px;
  }
  
  .h2_season{
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 32px;
  }
  
  .paragrapy_season{
    font-size: 14px;
  }
  
  .season_impar{
    max-width: 350px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
  
  .season_par{
    max-width: 275px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .img_season{
    width: 110px;
    height: 164px;
  }
  
  .text_season{
    display: flex;
    flex-direction: column;
  }

  .h1_elenco{
    font-size: 45px;
    margin-bottom: 25px;
  }
  
  .elenco_imgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 45px;
    margin-left: 75px;
  }
  
  .img_elenco{
    width: 200px;
    height: 256px;
  }
}

@media (min-width: 1044px) {
  .generalbox {
    max-height: 823px;
  }

  .logo {
    width: 80px;
  }

  .nav-bar_container {
    gap: 50px;
  }

  li {
    font-size: 25px;
  }

  a {
    margin: 10px;
  }

  .paragraph-h1 {
    font-size: 96px;
    margin-bottom: 10px;
  }

  .paragraph-h2 {
    font-size: 25px;
    margin-top: 110px;
  }

  .paragraph-h3 {
    margin-left: 75px;
  }

  .paragraph-h4 {
    margin-left: 75px;
  }

  .paragraph-p {
    margin-left: 60px;
    width: 205px;
    margin-bottom: 50px;
  }

  .button-hero {
    width: 238px;
    height: 64px;
    font-size: 36px;
    margin-bottom: 100px;
  }

  .curiosity {
    margin: 25px;
  }
  
  .img_curiosity{
    gap: 45px;
  }
  
  .text_curiosity{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .curiosity1 {
    width: 400px;
    height: 250px;
  }
  
  .curiosity2 {
    width: 400px;
    height: 250px;
  }
  
  .curiosity h1 {
    font-size: 55px;
  }
  
  .paragrapy_curiosity {
    text-align: center;
    font-size: 25px;
  }
  
  .button_curiosity {
    width: 238px;
    height: 65px;
    font-size: 35px;
    margin-bottom: 35px;
  }

  .season{
    margin: 10px;
    margin-top: 35px;
    margin-left: 95px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .h1_season{
    font-size: 45px;
  }
  
  .h2_season{
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    font-size: 36px;
  }
  
  .paragrapy_season{
    font-size: 20px;
  }
  
  .season_impar{
    max-width: 356px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 20px;
  }
  
  .season_par{
    max-width: 450px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .img_season{
    width: 185px;
    height: 277px;
  }
  
  .text_season{
    display: flex;
    flex-direction: column;
  }

  .h1_elenco{
    font-size: 45px;
    margin-bottom: 25px;
  }
  
  .elenco_imgs{
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-right: 70px;
  }
  
  .img_elenco{
    width: 200px;
    height: 256px;
  }
}
